{% extends 'base2.html.twig' %}
{% block title %} Programmation !{% endblock %}

{% block body %}
 <header class="masthead"> 


<br>
<div id="fond"> 
      <div class="ruban">     
        <h2> Language C </h2>     
      </div>     
      <div class="ruban_gauche"></div>
      <div class="ruban_droit"></div>
</div>








<br>

    <div class="zzzzz">
            <div class="progc">
            <img class="proggc"  ; src={{asset('media/configueswtch.jpg')}}>
            </div>
            <div class="switch">
            <img class="switchh"  ; src={{asset('media/image2.png')}}>
            </div>

            

            <br> 
            <p class="textprogc"> Voici une partie de la configuration de mon switch que j'ai du réaliser lors de mon projet d'extension d'un réseau. </p>
    </div>


<br>


<br><br>

  <footer>
      <p>©Copyright 2050 by Poulard Quentin. All rights reserved.</p>
    </footer>

{% endblock %}