{% extends 'base2.html.twig' %}
{% block title %} Programmation !{% endblock %}

{% block body %}
 <header class="masthead"> 


<br>
<div id="fond"> 
      <div class="ruban">     
        <h2> Language C </h2>     
      </div>     
      <div class="ruban_gauche"></div>
      <div class="ruban_droit"></div>
</div>








<br>

    <div class="zzzzz">
            <div class="progc">
            <img class="proggc"  ; src={{asset('media/projetC.png')}}>
            </div>
            <div class="progpy">
            <img class="progpyy"  ; src={{asset('media/programmeC2.png')}}>
            </div>

            <div class="progc2">
            <img class="proggc2"  ; src={{asset('media/projetC.png')}}>
            </div>
            <div class="progpy2">
            
            <img class="progpyy2"  ; src={{asset('media/programmeC2.png')}}>
            </div>

            <br> 
            <p class="textprogc"> Voici ci-dessus une partie d'un programme que j'ai du réaliser pour un projet qui consistai a trié des nombres aléatoires en fonctions de la demande de l'utilisateur .
            <br> J'ai également écrit se programme en python </p>
    </div>


<br>



  <footer>
      <p>©Copyright 2050 by Poulard Quentin. All rights reserved.</p>
    </footer>



{% endblock %}