{% extends 'base2.html.twig' %}
{% block title %} Programmation !{% endblock %}

{% block body %}
 <header class="masthead"> 


<br>
<div id="fond"> 
      <div class="ruban">     
        <h2> Commande Ubuntu </h2>     
      </div>     
      <div class="ruban_gauche"></div>
      <div class="ruban_droit"></div>
</div>

<p> Journal de bord Gameshell 
--------------------------


<br>
9) rm -v *araignee* . *_araignee_*   pour supprimer des fichiers cacher7
<br>
14) alias la='la -A'    crée un racourci pour la commande ls -A qui affiche les fichiers cacher
<br>
15)nano ~/Foret/Hutte/Coffre/journal.txt
<br>
16)alias journal='nano ~/Foret/Hutte/Coffre/Journal.txt
On peut sauvegarder des raccourci dans le fichier : nano ~/.gshrc
<br>
17)une fois dans la cave : $ la                            
$cd .Taniere_de_la_reine_araignee\ cDsBqeZmdPXLttoK FbswHmuFbJDUjNVN/
$ rm YvKslessFIVAbogm_reine_araignee_
vzreukPixSxyQrDp    
Se servir de la touche tabulation    
<br>   
18) xeyes &     & mais la tache en fond
<br>
19)faire "tree" pour voir voir toute l arboresence 
Puis ce deplacer avec cd puis faire :
$ mv OOOOO_piece_de_bronze_OOOOO ~/Foret/Hutte/Coffre/
<br>
20) meme chose 
<br>
21)find . -iname *or*
puis : $ mv 134d7bb0/7ed4a0317b88482a58073c1a/1c813356fa98/PieCe_D_oR_2 ~/Foret/Hutte/Coffre/
et :$ mv e1077144d457d5dcce484f14f504/b9948b24ebd33c79d43c9d9dd5f0ca/c0082fdbff52f07e437353e11bc4e/piece_d_or_1 ~/Foret/Hutte/Coffre/
Toujour utiliser la touche tab pour les noms des fichiers , ecrit le nom tout seul apres avoir mis qlq caractere 
<br>
22)cat table_des_matieres pour voir dans quelle page ce situe la recette de tisane 
cat Livre_de_potions/page_07  pour voir le nombre de ligne a afficher
$ head -6 Livre_de_potions/page_07            affiche les 6 premiers ligne
<br>
23)comme pour la question 22 pour trouver a quelle page est la recette
puis: tail -9 Livre_de_potions/page_12    tail affiche les derniers lignes d'un fichier
<br>
24)cat Livre_de_potions/page_01 Livre_de_potions/page_02                permet d'afficher les deux fichier cat fichier1 fichier2
<br>
25)$ cat Livre_de_potions/page_03 Livre_de_potions/page_04 | tail -16
<br>
26)$ head -7  Livre_de_potions/page_13 | tail -4
affiche dans les 7 premieres ligne du fichier les 4 dernieres 
<br>
27) ps affiche la liste des processus lancer avec le nuémro de chacun 
kill numéro    arrete le processus ayant ce numéro
kill 31692
<br>
28) ps 
kill -s TERM numéro    -s choisir le nom du signal envoyer 
puis ps pour voir les processus lancer 
kill -s KILL numéro numéro car les processus ne peuvent pas inviter le signeau KILL
kill -s KILL 32789 33441
<br>
29) pstree -p $$ pour afficher la liste des processus ainsi que leur PID ( numéro ) 
$ kill -s TERM 33802 33807 33810
ls *charbon 
rm *charbon  
<br>
30) Chui Trop fort en calcul 
<br>
31)$ gc < Mathematiques_en_premiere_annee   < remplace l'entrée de la commande par le fichier choisi
<br>
32)cd Bureau_de_Merlin/   puis ls pour voir les grimoire et ou est le répertoire tiroir
commande > fichier :: Envoie le résultat de la commande dans le fichier au lieu de l'afficher sur l'écran.
$ ls grimoire_* > Tiroir/inventaire.txt           affiche tout les fichiers grimoire dans le fichier inventaire.txt
<br>
33)grep -l -i gsh grimoire_*   grep gsh grimoire_* affiche les lignes dans lesquell il y a le caractères gsh dans tout les fichiers grimoire
on ajoute -l pour afficher seulement els fichier et -i pour les maj et min 
commande final : $ grep -l -i gsh grimoire_* 2>/dev/null      2> renvoie le resultat de la commande dans le fichier voulu 
<br>
34) $ ./merlin 2> lacle.txt        on envoie la clée dans l'entrée standart qui nous dit que la clé se trouver dans l'entrée d'erreur 
donc on envoie le fichier de la clé dans l'entrée standart que l'on envoie ensuite dans l'entrée d'erreur dans un nouveau fichier
gsh check < lacle.txt            on envoie la clé qui est dans l'entrée standart dans le gommande gsh check
<br>
35)$ chmod +x Chambre_du_roi/   on ajoute le droit d'éxecution au répertoire chambre du roi pour pouvoir y acceder
cd Chambre_du_roi
<br>
36)ls -A       pour vois le papier cacher car le code du papier non secret n'est pas bon
$ chmod +r .bout_de_papier_secret     on ajoute le droit de lecture au fichier pour pouvoir voir et afficher le code
cat .bout_de_papier_secret 
<br>
37)   053
$ chmod u+rwx Coffre_fort/          pour avoir aller dans le repertoir
chmod u=rwx Coffre_fort/ couronne   pour avoir tout les droit et donc afficher le contenu du fichier couronne 
$ mv couronne ~/Foret/Hutte/Coffre/
<br>
38) find . -type f -exec grep -H rubis '{}' \;
<br>
39) $ find . -type f -exec grep -l diamant '{}' \; | xargs mv -v -t ~/Foret/Hutte/Coffre/
<br>
40) $ $ grep Roi b077354afc38e_p_a_r_c_h_e_m_i_n_b077354afc38e404 | grep -v 'PAYÉ'
        pour afficher dans toute le ligne ou il y a écrit roi ( car on cherche les dettes du roi ) et dans lequelle il n'y a pas ecrit PAYÉ ( grace au -v )
 <br>       
41) $ grep -v "PAYÉ" *_p_a_r_c_h_e_m_i_n_* | wc -l    wc -l affiche le nombre de ligne que va afficher le grep 
<br>
42)$ tr "a-z" "n-za-o" < message_secret 

</p>




<br>

    <div class="zzzzz">
            <div class="progc">
            <img class="proggc"  ; src={{asset('media/vmubun.png')}}>
            </div>
    
    </div>


  <footer>
      <p>©Copyright 2050 by Poulard Quentin. All rights reserved.</p>
    </footer>


{% endblock %}