*{
    font-family: 'Poppins', sans-serif;
    color: #000;
}



/* ------------------------------------------------------------------------------------*/
/* Bouton animation en Savoir plus */

*,*::before,*::after{box-sizing: border-box;}

button{

text-align: center;
cursor:pointer;
border-radius:4px;
text-transform: uppercase;
font-size: 1.25rem;
padding: 10px 20px;
margin:1rem;
margin-left: 30%;
margin-bottom: 3%;	
width: 40%;
	}


.neon-box-1{

background:linear-gradient(to right, rgb(248, 248, 248) 0%,50%,rgb(120, 12, 178) 100%);

}

.neon-box-1:hover{

animation: neon-box-1 2s infinite alternate linear 

}	
	
@keyframes neon-box-1{
	
from{
	
	box-shadow:2px 0 6px rgba(255, 0, 255, 0.7),-2px 0 6px rgba(209, 67, 228, 0.7),5px 0 10px rgba(164, 16, 223, 0.7),-5px 0 10px rgba(0, 255, 255, 0.7)
		
	
	}
	
to{

	
box-shadow:10px 0 20px rgba(255, 0, 255, 0.7),-10px 0 20px rgba(0, 255, 255, 0.7),15px 0 30px rgba(255, 0, 255, 0.7),-15px 0 30px rgba(0, 255, 255, 0.7)
	}
	
	}		
	
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/

/* Pieds de pages */

footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  background-color: rgb(114, 23, 183);
  color: #ccc;
  justify-content: center;
  width: 100%;
  height: 3.5vh;
}

/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/

.textloisir {
  margin-top: 25%;
}

/* Titre en haut des pages en Forme rubans */

#fond {
  position: relative;
  margin: 0px auto;
  width: 350px;
 
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  z-index: 10;
  height:90px;
  
  }
  
  .ruban {
  background: #090d17;
  height: 50px;
  width: 380px;
  position: relative;
  left:-15px;
  top: 30px;
  float: left;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  z-index: 100;
 
  
 
  }
  
  .ruban h2 {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgba(4, 23, 23, 0.55);
  text-align: center;
  margin:10px;
  }
  
  .ruban_gauche {
  border-color: transparent #000000 transparent transparent;
  border-style:solid;
  border-width:15px;
  height:0px;
  width:0px;
  position: relative;
  left: -30px;
  top: 65px;
  z-index: -1;  /*s'affichera sous le rectangle  */
  }
  
  .ruban_droit {
  border-color: transparent transparent transparent #000000;
  border-style:solid;
  border-width:15px;
  height:0px;
  width:0px;
  position: relative;
  left: 350px;
  top: 35px;
  z-index: -1;
  }

/* --------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/

.bandmarg {
  margin-top: 30%;
}


.testprenom {
  margin-bottom: 10px;
  position: relative;
}


/* Formulaire pour télécharger le CV */

input {
  width: 70%;
}

input + span {
  padding-right: 30px;
}

input:invalid + span::after {
  position: absolute;
  content: "✖";
  padding-left: 5px;
}

input:valid + span::after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
}



.contourformu {
  border: 0.7ch solid #ccc;
  background-color: #7424b1;
  width: 60%;
  text-align: center;
  margin-left: 20%;
  padding: 10px;
}

/*-------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/


.progc {
  display: flex;
  float: left;
}
.proggc {
  width: 48%;
  border: 2px solid;
  border-image: linear-gradient(#C6FFDD, #FBD786, #f7797d) 10;
  padding: 1px;
  position: absolute;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-left: 1%;
}

.progpy {
  text-align: center;
  width: 45%;
}

.progpyy {
  position: absolute;
  left: 50%;
  width: 47.8%;

  border: 2px solid;
  border-image: linear-gradient(#C6FFDD, #FBD786, #f7797d) 10;
  padding: 1px;
}

.progc2 {
  display: flex;
  float: left;
  margin-top: 27%;
}
.proggc2 {
  width: 48%;
  border: 2px solid;
  border-image: linear-gradient(#C6FFDD, #FBD786, #f7797d) 10;
  padding: 1px;
  position: absolute;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-left: 1%;
}

.progpy2 {
  display: flex;
  float: left;
  text-align: center;
  margin-top: 27%;
}

.progpyy2 {
 
  position: absolute;
  left: 50%;
  width: 48%;
  margin: auto;
  border: 2px solid;
  border-image: linear-gradient(#C6FFDD, #FBD786, #f7797d) 10;
  padding: 1px;
}






.textprogc {
  margin-left: 3%;
  margin-top: 55%;
}



.Titre {    
    text-align: center ;
}

.prenom {
  text-align: center;
  
  font-size: 1.3em;
}



.foot {
  position: absolute;
  left: 33.5%;
  border: 5px solid;
  border-image: linear-gradient(#003973, #E5E5BE) 10;
  padding: 3px;
  width: 33%;
  margin: auto;
}

.nume {
  text-align: center;
  font-size: 1.3em;
}

.rl {
  width: 100%;
}

.texttloisir {
  margin-top: 2%;
}

.rlcentre{

  position: absolute;
  left: 67%;
  border: 5px solid;
  border-image: linear-gradient(#C6FFDD, #FBD786, #f7797d) 10;
  padding: 3px;
  width: 33%;
  margin: auto;
}
.footcentre {
  text-align: center;
  margin-top: 2.2%;
}

.amicentre {
  display: flex;
  float: left;
}
.amigos {
  margin-top: 1%;
  width: 33%;
  border: 5px solid;
  border-image: linear-gradient(#C6FFDD, #FBD786, #f7797d) 10;
  padding: 3px;
  position: absolute;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navvv{
    width: 100%;
}

.masthead {
    width: 100%;
    background-size: cover;
  
}


.clear {
    clear: both;
}
img.left {
    margin-top: 2%;
    margin-left: 25% ;
    width: 15%;
    border: 1ch solid #ccc;
    float: left;
}


.droite {
    margin-top: 6%;
    margin-left: 48% ;
    margin-right: 20% ;
    position: relative;
}
#entète {
    width: 100%;
    margin-top: 1%;
    text-align:center;
    color: rgb(247, 243, 243);
   
    }
.formation {
    text-align: center;
    color: rgb(40, 104, 251);
} 
.exppro {
    text-align: center;
    color: rgb(40, 104, 251); 
}
.contform{
    
    text-align: center;
    width: 100%;   
 
}
.contexp{
    
    text-align: center;
    width: 100%;   
  

}
.contcomp{
    text-align: center;
    width: 100%;   
  
   
}

.bac {
    
    font-weight: bold;
}

.entretien {
   
    text-align: center;
    font-weight: bold;
}

.zza {
    
    text-align: center;
    margin-left: 2%;
}

.stage {
    float: left ;
    margin-left: 12%;
    font-weight: bold;
}

.titrecomp{
    text-align: center;
    color: rgb(40, 104, 251); 
}

.informat {
    text-align: center;
}




/* Les 3 carte pour le portfolio */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 20px 0;
}

body .container .card {
  position: relative;
  min-width: 360px;
  height: 430px;
  box-shadow: inset 5px 5px 5px rgba(17, 79, 202, 0.766),
    inset -5px -5px 15px rgb(17, 79, 202),
    5px 5px 15px rgba(0, 0, 0, 0.962), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

body .container .card:nth-child(1) .box .content a {
  background: #2196f3;
  text-shadow:#000000 0 -1px 0,
  #000000 1px 1px 0,
  #010001 2px 2px 0,
  rgb(255, 255, 255) 5px 5px 10px;color:#fdfdfd;

 
}

body .container .card:nth-child(2) .box .content a {
  background: #2196f3;
  text-shadow:#000000 0 -1px 0,
  #000000 1px 1px 0,
  #010001 2px 2px 0,
  rgb(255, 255, 255) 5px 5px 10px;color:#fdfdfd;
  
 
}

body .container .card:nth-child(3) .box .content a {
  background: #2196f3;
  text-shadow:#000000 0 -1px 0,
  #000000 1px 1px 0,
  #010001 2px 2px 0,
  rgb(255, 255, 255) 5px 5px 10px;color:#fdfdfd;

 
}
body .container .card:nth-child(4) .box .content a {
  background: #c6f321;
  text-shadow:#000000 0 -1px 0,
  #000000 1px 1px 0,
  #010001 2px 2px 0,
  rgb(255, 255, 255) 5px 5px 10px;color:#fdfdfd;
 
 
}
body .container .card:nth-child(5) .box .content a {
  background: #c6f321;
  text-shadow:#000000 0 -1px 0,
  #000000 1px 1px 0,
  #010001 2px 2px 0,
  rgb(255, 255, 255) 5px 5px 10px;color:#fdfdfd;
 
}

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #010f521b;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: rgba(21, 6, 181, 0.044);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(1, 0, 3, 0.984);
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(5, 0, 0);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 30px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(222, 29, 29, 0.6);
  background: rgba(176, 174, 185, 0.878);
  color: #000;
}
.popo{
  text-shadow:#28a3ef 0 -1px 0,
  #000000 1px 1px 0,
  #c723ec 2px 2px 0,
  rgb(255, 255, 255) 5px 5px 10px;color:#FFE200;
 
text-align: center;
color: rgb(0, 0, 0);
font-size: 3em;
 text-decoration: underline overline solid #050103;
position: relative;
}
