{% extends 'base2.html.twig' %}

{% block title %}Mes Loisirs!{% endblock %}

{% block body %}

<br>

<div id="fond"> 
      <div class="ruban">     
        <h2>My hobbies | Passion </h2>     
      </div>     
      <div class="ruban_gauche"></div>
      <div class="ruban_droit"></div>
</div>

<div class="amicentre">
<img class="amigos"  ; src={{asset('media/amigos.png.JPG')}}>
</div>
<div class="footcentre">
<img class="foot"  ; src={{asset('media/u15.jpg')}}>
</div>
<div class="rlcentre">
<img class="rl"  ; src={{asset('media/loisirrll.png')}}>
</div>

<div class="textloisir">


<br> 
<p class="texttloisir"> I have many hobbies and many passions. The main ones are first of all my family as well as my friends because they are the ones who are always present.<br>
<br> I also did a lot of club sports such as Judo, Football and Tenis. Today I prefer to do my side with bodybuilding and with general outings.
<br><br> One of my great passion is also Video Games. I really like team games with communication like Raimbow Siw Siege and Rocket League
<br> I also like everything related to computers and new technologies. For example at the moment I spend time with my father informing me about web 3.0 and blockchain as well as cryptocurrency which will be even more present for me in the future.
 </p>
<br>

</div>

<div class="city">
<img class="cityy"  ; src={{asset('media/city.png')}}>
</div>

<p class="texttloisir"> 
I still have this passion for football and continue to bring it to life by playing matches with my friends and also by watching the matches of my favorite teams: Manchester City and OL.
<br> Manchester City which is also a club which is interested in the virtual world with their project to recreate their stadium to recreate the Etihad Stadium in the metaverse.

 </p>

<button class="neon-box-1"> 
  <a class="nav-link" href="/indexenglish"> Back to homepage</a>
</button>

  <footer>
      <p>©Copyright 2050 by Poulard Quentin. All rights reserved.</p>
    </footer>

{% endblock %}