{% extends 'base2.html.twig' %}

{% block title %}Mon portfolio!{% endblock %}

{% block body %}


<br>

<div id="fond"> 
      <div class="ruban">     
        <h2> Portfolio</h2>     
      </div>     
      <div class="ruban_gauche"></div>
      <div class="ruban_droit"></div>
</div>

<div class="container">
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> Programmation</h3>
        <p> I have skills in different programming languages such as C, C++ and Python.
         I could write programs for sorting, arrays, loops and writing in text files</p>
       <a class="nav-link" href="/programmeC"> See some examples that I have done </a>
      
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> Network </h3>
        <p> I know how to use software such as Cisco packet tracer and wireshark.
        I am able to create an extension of an existing network by configuring Cisco switches, to analyze frames using Wireshark</p>
        <a class="nav-link" href="/configueswt"> See topology, configure realize</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> Operating System </h3>
        <p> I know how to use the operating system of windows 10 and 11 as well as the one of linux Ubuntu that I could use during the creation of Virtual Machine and also in multiboot on my personal computer</p>
        <a class="nav-link" href="/ubuntu"> Linux command that I can handle</a>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> Cabling | Signals </h3>
        <p> I know how to make wiring to measure voltage and current, I also know how to analyze and change signals using an oscilloscope. I also know the rules of security and law of electricity.</p>
    
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> English | Spanish </h3>
        <p> B2 level in English and very good knowledge of Spanish</p>
        
      </div>
    </div>
  </div>
</div>
  <footer>
      <p>©Copyright 2050 by Poulard Quentin. All rights reserved.</p>
    </footer>




{% endblock %}