{% extends 'base.html.twig' %}

{% block title %}Mon Cv!{% endblock %}

{% block body %}
 <header class="masthead" style="background-image: url('{{asset('media/ppp.jpg/')}}')"> 
<br>

<div id="entète">
<h1 class="Titre"> Poste : Technicien Fibre Optique (H/F) chez <br> Orange - France </h1>
</div>

<br>
<br>

<section class="contcomp">

  <h3 class="titrecomp"><u>  Compétences :</u> </h3>

      <p class="informat"> <u> Connaissance informatique </u> <p/>
      <div class="compétenceinfo">
      <p class="compinfo"> Windows 10 : base </p>
      <p class="ubun" >   Ubuntu : base </p>
      <div class="clear"> </div>
      <p class="compinfo"> Cisco Packet tracer </p>
      <p class="ubun" >   Wireshark </p>
      <div class="clear"> </div>
      <p class="compinfo"> Language C , C++ </p>
      <p class="ubun" >   Language Python </p>
      <div class="clear"> </div>
      </div>

      <p class="informat"> <u> Langues </u> <p/>
      <div class="compétenceinfo">
      <p class="compi2"> Anglais : niveau intermédiaire - séjours à l'étranger </p>
      <p class="compi2"> Espagnol : niveau intermédiaire  </p>
      
     <div class="clear"> </div>
      </div>
      <p class="informat"> <u> Qualités </u> <p/>
      <div class="compétenceinfo">
      <p class="compinfo"> Rigoureux </p>
      <p class="ubun" >  Pugnace </p>
        <p class="bienveillant" >  Bienveillant </p>
      <div class="clear"> </div>

</section>

<br><br>

<section class="contform">

          <div class="formation">
            <h3> <u> Formations : </u> </h3>
          </div>

          <br><br>


          <h5 class="bac"> 2022 | BAC Sciences et Technologie de l'Industrie et du Développement Durable spécialité Système d'Information Numérique </h5> 
          <p class="bacc"> - Lycée de La Plaine de l'Ain - AMBERIEU EN BUGEY  </p>
          <div class="clear"> </div>

        
          <h5 class="bac">2022 - 2025 | DUT Réseau & Télécommunication  </h5> 
          <p class="bacc"> - IUT Jean Monnet - ROANNE  </p>
        <div class="clear"> </div>

</section>

<br> <br>

<section class="contexp">

            <div class="exppro">
            <h3><u>  Expériences professionnelles / Projet :</u> </h3>
            </div>

          <br><br>


          <h5 class="entretien"> Juillet 2022 | Entretien espace vert : </h5>
          <p class="zza"> Mairie de CHARNOZ sur AIN </p>
          <p> <u> Bilan Personel : </u> loojaizhfzakecbqsdjvbrhdbcgbfgfhhdhhdhdhdh </p>
          <br>
          <br><br>

          <h5 class="entretien"> Juillet 2021 | Entretien espace vert : </h5>
          <p class="zza"> Mairie de CHARNOZ sur AIN </p>
          <p> <u> Bilan Personel : </u> Bonne première expérience dans le monde du travail et donc sous l'autorité d'une personne . Ma permis de me faire un avis sur le fait de travailler en extérieur et manuellement </p>

          <br> <br> <br>



          <h5 class="entretien"> Décembre 2019 | Stage 3éme :  </h5>
          <p class="zza"> CNPE du Bugey, service conduite </p>
          <p> <u> Bilan Personel : </u> J'ai û voir ce que c'est de travailler dans une grande entreprise , de travailler dans des bureaux .

          <br> <br><br> <br>

          <h5 class="entretien"> Projet terminal 2022 |Serre autonome connectée :  </h5>
          <p class="zza"> CNPE du Bugey, service conduite </p>
          <p> <u> Bilan Personel : </u> Ma permis de travailler en équipe et en autonomie, d'être sur un même projet pendant une longue période . <br>J'ai pu apprendre les différentes étapes pour réaliser un projet . j'ai pu utiliser mes connaissance en programmation , en dévellopement d'application et de Communication entre différents élements informatiques (capteurs ...)

</section>


<div class="clear"> </div>

<br>


<br><br><br><br><br><br>
<form>

  <p>
    <label for="n1">Quel est votre Prénom &nbsp;?</label>
    <input type="text"id="n1" name="prenom"
           >
  </p>
  <p>
    <label for="t1">Quel est votre Nom &nbsp;?<abbr title="Ce champ est obligatoire">*</abbr></label>
    <input type="text" id="t1" name="fruit" list="l1" required
           pattern="[Bb]anane|[Cc]erise|[Cc]itron|[Ff]raise|[Oo]range|[Pp]omme">
   
  <p>
    <label for="t2">Quelle est votre adresse électronique&nbsp;?</label>
    <input type="email" id="t2" name="email">
  </p>

  <p>
    <button>Acceder a mon CV</button>
  </p>
</form>




{% endblock %}