{% extends 'base.html.twig' %}

{% block title %}Mes Loisirs!{% endblock %}

{% block body %}


<br>

<div id="fond"> 
      <div class="ruban">     
        <h2> Mes loisirs | Passion </h2>     
      </div>     
      <div class="ruban_gauche"></div>
      <div class="ruban_droit"></div>
</div>
<br>


<div class="amicentre">
<img class="amigos"  ; src={{asset('media/amigos.png.JPG')}}>
</div>
<div class="footcentre">
<img class="foot"  ; src={{asset('media/u15.jpg')}}>
</div>
<div class="rlcentre">
<img class="rl"  ; src={{asset('media/amigos.png.JPG')}}>
</div>

<div class="textloisir">


<br> 
<p> J'ai de nombreux passe temps et de nombreuse passion. Les principals sont d'abord ma famille ainsi que ma famille . Ils me permettent 
<p> J'aime aussi tout se qui touche a l'informatique et au nouvelle technologie . Par exemple en ce moment je passe du temps avec mon père a m'informer sur le web 3.0 et la blockchain ainsi que la crypto monnai qui seront pour moi encore plus présents dans le futur </p>


</div>

 <footer>
      <p>©Copyright 2050 by Poulard. Tous droits reversés.</p>
    </footer>


{% endblock %}