{% extends 'base.html.twig' %}

{% block title %}Mes Loisirs!{% endblock %}

{% block body %}

<br>

<div id="fond"> 
      <div class="ruban">     
        <h2>Mes loisirs | Passion </h2>     
      </div>     
      <div class="ruban_gauche"></div>
      <div class="ruban_droit"></div>
</div>

<div class="amicentre">
    <img class="amigos"  ; src={{asset('media/amigos.png.JPG')}}>
</div>
<div class="footcentre">
    <img class="foot"  ; src={{asset('media/u15.jpg')}}>
</div>
<div class="rlcentre">
    <img class="rl"  ; src={{asset('media/loisirrll.png')}}>
</div>

<div class="textloisir">


<br> 
<p class="texttloisir"> J'ai de nombreux passe temps et de nombreuse passion. Les principals sont d'abord ma famille ainsi que mes amis car c'est eux qui sont toujours présents .<br> 
    <br> J'ai aussi fait beaucoup de sport en club comme du Judo , du Football et du Tenis . Aujourd'hui je préfere en faire de mon coter avec de la musculation et avec les sortie dehors général .
    <br><br> Une de mes grandes passion est aussi les Jeux Vidéo . J'aime beeacoup les jeux en équipes avec de la communication comme Raimbow Siw Siege et Rocket League 
    <br> J'aime aussi tout se qui touche a l'informatique et au nouvelle technologie . Par exemple en ce moment je passe du temps avec mon père a m'informer sur le web 3.0 et la blockchain ainsi que la crypto monnai qui seront pour moi encore plus présents dans le futur
</p>
<br>

</div>

<div class="city">
    <img class="cityy"  ; src={{asset('media/city.png')}}>
</div>

<p class="texttloisir"> 
  J'ai toujours cette passion du foot et continue a la faire vivre en faisant des match avec mes amis et aussi en regardant les matchs de mes equipes favorites :<br> Manchester City et OL . 
  <br> Manchester City qui est aussi un club qui s'interessent au monde virtuel avec leur projet de recrée leur stade recréer l’Etihad Stadium dans le métavers.

</p>

<button class="neon-box-1"> 
  <a class="nav-link" href="/"> Revenir a la page d'acceuil </a>
</button>

 <footer>
      <p>©Copyright 2050 by Poulard Quentin. All rights reserved.</p>
    </footer>

{% endblock %}