{% extends 'base.html.twig' %}

{% block title %}Mon portfolio!{% endblock %}

{% block body %}


<br>

<div id="fond"> 
      <div class="ruban">     
        <h2> Portfolio</h2>     
      </div>     
      <div class="ruban_gauche"></div>
      <div class="ruban_droit"></div>
</div>

<div class="container">
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> Programmation</h3>
        <p> J'ai des compétance dans différents language de programmation telle que le language C , C++ et python .
         J'ai pus écrire des programmes pour des tris , des tableaux , des boucles et ecriture dans des fichier textes</p>
       <a class="nav-link" href="/programmeC"> Voir des exemples que j'ai put réaliser </a>
      
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> Reseau </h3>
        <p> Je sais utiliser des logiciels telle que Cisco packet tracer et wireshark.
        Je suis capable de crée une extension d'un réseau existent en configurant des switch Cisco , d'analyser des trames a l'aide de Wireshark</p>
        <a href="#"> Voir des topologie , config réaliser</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> Système d'Exploitation </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
</div>

<br>

 <footer>
      <p>©Copyright 2050 par Poulard. Tous droits reversés.</p>
    </footer>


{% endblock %}