{% extends 'base.html.twig' %}

{% block title %}Mon portfolio!{% endblock %}

{% block body %}


<br>

<div id="fond"> 
      <div class="ruban">     
        <h2> Portfolio</h2>     
      </div>     
      <div class="ruban_gauche"></div>
      <div class="ruban_droit"></div>
</div>

<div class="container">
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> Programmation</h3>
        <p> J'ai des compétance dans différents language de programmation telle que le language C , C++ et python .
         J'ai pus écrire des programmes pour des tris , des tableaux , des boucles et ecriture dans des fichier textes</p>
       <a class="nav-link" href="/programmeC"> Voir des exemples que j'ai put réaliser </a>
      
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> Reseau </h3>
        <p> Je sais utiliser des logiciels telle que Cisco packet tracer et wireshark.
        Je suis capable de crée une extension d'un réseau existent en configurant des switch Cisco , d'analyser des trames a l'aide de Wireshark</p>
        <a class="nav-link" href="/configueswt"> Voir des topologie , config réaliser</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> Système d'Exploitation </h3>
        <p> Je sais utiliser les système d'exploitation de windows 10 et 11 ainsi que celui de linux Ubuntu que j'ai pus utiliser lors de la création de Machine Virtuel et aussi en multiboot sur mon ordinateur perso</p>
        <a href="/ubuntu"> Commande Linux que je sais manipuler</a>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> Cablage | Signaux </h3>
        <p> Je sais effectuer des cablages pour mesurer tension et courant, je sais aussi analyser et changer des signaux a l'aide d'un oscilloscope . Je connais aussi les régles de securité et loie de l'électricité</p>
    
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>°</h2>
        <h3> Anglais | Espagnol </h3>
        <p> Niveau B2 en anglais et d etrés bonne base en espagnol</p>
        
      </div>
    </div>
  </div>
</div>
 <footer>
      <p>©Copyright 2050 by Poulard Quentin. All rights reserved.</p>
    </footer>


{% endblock %}