{% extends 'base.html.twig' %}

{% block title %}Mon portfolio!{% endblock %}

{% block body %}
 <header class="masthead" style="background-image: url('{{asset('media/fondindex.jpg/')}}')"> 

<br>

<div id="fond"> 
      <div class="ruban">     
        <h2> Portfolio</h2>     
      </div>     
      <div class="ruban_gauche"></div>
      <div class="ruban_droit"></div>
</div>

<div class="container">
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>01</h2>
        <h3> Programmation</h3>
        <p> J'ai des cométance dans différents language de programmation telle que le language C , C++ et python </p>
       <a class="nav-link" href="/programmeC"> Voir des exemples que j'ai put réaliser </a>
      
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>02</h2>
        <h3> CISCO </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>03</h2>
        <h3> Système d'Exploitation</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  

</div>









<div class="d-grid gap-2">
  <button class="btn btn-lg btn-primary" type="button">
       <a class="nav-link" href="/"> Revenir sur mes données personnel </a>
</button>  
</div>



{% endblock %}