{% extends 'base.html.twig' %}

{% block title %}Me !{% endblock %}

{% block body %}

 <header class="masthead" style="background-image: url('{{asset('media/fondindex.jpg/')}}')"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<br>
<div id="fond"> 
      <div class="ruban">     
        <h2> Poulard Quentin </h2>     
      </div>     
      <div class="ruban_gauche"></div>
      <div class="ruban_droit"></div>
</div>

<img class="left" ; src={{asset('media/moisae14.jpg')}}>
<div class="droite"> 
<h4> Je suis nananan nanan nomkzndzk et ndaodhzadn bdagdzbain </h4>
<br> 
<h4> Je suis nananan nanan nomkzndzk et ndaodhzadn bdagdzbain </h4>

</div>

<div class="clear"> </div>
<br> 


<p class="prenom"> <u> Prénom :</u>  Quentin </p>

<p class="nom"> <u>Nom :</u>  Poulard </p>

<p class="age"> <u>Née le :</u>  16/12/2004 </p>
<br><br><br>
<div class="nume">
<p class="numero"> <u>Numéro de téléphone :</u>  07.82.71.44.52 </p>
</div>
<div class="maill">
<p class="mail"> <u>Adresse mail :</u>  quentin01.poulard@gmail.com </p>
</div>



<br> <br> <br>
<div class="d-grid gap-2">
  <button class="btn btn-lg btn-primary" type="button">
       <a class="nav-link" href="/loisir">En savoir plus </a>
</button>  
</div>

 <footer>
      <p>©Copyright 2050 par personne. Tous droits reversés.</p>
    </footer>

<br> <br> <br> <br>

{% endblock %}
