{% extends 'base.html.twig' %}

{% block title %}Me !{% endblock %}

{% block body %}
 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<br>

<div id="fond"> 
      <div class="ruban">     
        <h2> Poulard Quentin </h2>     
      </div>     
      <div class="ruban_gauche"></div>
      <div class="ruban_droit"></div>
</div>



<img class="left" ; src={{asset('media/moiindex.png')}}>
<div class="droite"> 
<h4> Actuellement Etudiants en Réseaux & Télecommunication, j'ai de nombreuse compétence que je suis prêt a mettre a profit </h4>
<br> 
<h4> Je suis une personne réserver, avec un bon esprit d'équipe et une envie de réussir </h4>

</div>

<div class="clear"> </div>
<br> 


<p class="prenom"> <u> Prénom :</u>  Quentin  &ensp; &ensp;  &ensp;  &ensp; &ensp;  &ensp;  &ensp;   
 <u>Nom :</u>  Poulard  &ensp; &ensp;  &ensp;  &ensp;  &ensp;  &ensp;  &ensp; 
 <u>Née le :</u>  16/12/2004 
 </p>


 

<div class="nume">
<p class="numero"> <u>Numéro de téléphone :</u>  07.82.71.44.52   &ensp;  &ensp;  &ensp; &ensp;  &ensp;  &ensp; 
<u>Adresse mail :</u>  quentin01.poulard@gmail.com   </p>
</div>



<button class="neon-box-1"> 
  <a class="nav-link" href="/loisir"> En savoir Plus </a>
</button>

  <footer>
      <p>©Copyright 2050 by Poulard Quentin. All rights reserved.</p>
    </footer>



{% endblock %}
